// Tooltip
$tooltip-shadow: 1px 2px 12px rgba(0, 0, 0, .2) !default;
$tooltip-font-family: sans-serif, Verdana !default;
$tooltip-bg-color: #5c5cff !default;
$tooltip-radius: 3px !default;
$tooltip-font-size: smaller !default;
$tooltip-padding: 3px 5px !default;

// Zoom buttons
$zoom-btns-bg-color: #292929 !default;
$zoom-btns-radius: 3px !default;
$zoom-btns-height: 15px !default;
$zoom-btns-padding: 3px !default;
$zoom-btns-width: 15px !default;

// Series
$series-container-right: 15px !default;

// Legends
$legend-background-color: #FFF !default;
$legend-border-color: #e6e6e6 !default;
$legend-radius: 3px !default;
$legend-margin-left: 15px !default;
$legend-padding: 0.5rem !default;
$legend-title-padding-bottom: 3px !default;
$legend-title-margin-bottom: 7px !default;

// Legend ticks
$legend-tick-margin-top: 10px !default;
$legend-tick-sample-margin: 4px auto !default;
$legend-tick-sample-radius: 4px !default;
$legend-tick-sample-height: 20px !default;
$legend-tick-sample-width: 20px !default;
$legend-tick-text-font-size: 12px !default;
$legend-tick-text-margin-top: 3px !default;

// Global resets
svg { touch-action: none }
image, text, .jsvmap-zoomin, .jsvmap-zoomout { user-select: none }

// jsVectorMap container
.jsvmap-container {
  touch-action: none;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

// Tooltip
.jsvmap-tooltip {
  border-radius: $tooltip-radius;
  background-color: $tooltip-bg-color;
  font-family: $tooltip-font-family;
  font-size: $tooltip-font-size;
  box-shadow: $tooltip-shadow;
  padding: $tooltip-padding;
  position: absolute;
  display: none;
  color: #FFF
}

// Zoom buttons
.jsvmap-zoom-btn {
  border-radius: $zoom-btns-radius;
  background-color: $zoom-btns-bg-color;
  padding: $zoom-btns-padding;
  box-sizing: border-box;
  position: absolute;
  line-height: 10px;
  cursor: pointer;
  color: #FFF;
  height: 15px;
  width: 15px;
  left: 10px;

  &.jsvmap-zoomout {
    top: 30px
  }

  &.jsvmap-zoomin {
    top: 10px
  }
}

// Series
.jsvmap-series-container {
  right: $series-container-right;
  position: absolute;

  // horizontal
  &.jsvmap-series-h { bottom: 15px }

  // Vertical
  &.jsvmap-series-v { top: 15px }

  // Legends
  .jsvmap-legend {
    background-color: $legend-background-color;
    border: 1px solid $legend-border-color;
    margin-left: $legend-margin-left;
    border-radius: $legend-radius;
    padding: $legend-padding;
    float: left;

    .jsvmap-legend-title {
      border-bottom: 1px solid $legend-border-color;
      padding-bottom: $legend-title-padding-bottom;
      margin-bottom: $legend-title-margin-bottom;
      text-align: left
    }

    .jsvmap-legend-inner {
      overflow: hidden;

      .jsvmap-legend-tick {
        margin-top: $legend-tick-margin-top;
        min-width: 40px;

        .jsvmap-legend-tick-sample {
          border-radius: $legend-tick-sample-radius;
          margin: $legend-tick-sample-margin;
          height: $legend-tick-sample-height;
          width: $legend-tick-sample-width;
        }

        .jsvmap-legend-tick-text {
          margin-top: $legend-tick-text-margin-top;
          font-size: $legend-tick-text-font-size;
          text-align: center;
        }
      }
    }
  }
}