@import './variables';

:root {
  --jvm-border-color: #{$border-color};
  --jvm-box-shadow: #{$box-shadow};

  // Tooltip
  --jvm-tooltip-shadow: var(--jvm-box-shadow);
  --jvm-tooltip-font-family: #{$tooltip-font-family};
  --jvm-tooltip-bg-color: #{$tooltip-bg-color};
  --jvm-tooltip-radius: #{$tooltip-radius};
  --jvm-tooltip-font-size: #{$tooltip-font-size};
  --jvm-tooltip-padding: #{$tooltip-padding};

  // Zoom buttons
  --jvm-zoom-btns-bg-color: #{$zoom-btns-bg-color};
  --jvm-zoom-btns-radius: #{$zoom-btns-radius};
  --jvm-zoom-btns-height: #{$zoom-btns-height};
  --jvm-zoom-btns-padding: #{$zoom-btns-padding};
  --jvm-zoom-btns-width: #{$zoom-btns-width};

  // Series
  --jvm-series-container-right: #{$series-container-right};

  // Legends
  --jvm-legend-background-color: #{$legend-background-color};
  --jvm-legend-radius: #{$legend-radius};
  --jvm-legend-margin-left: #{$legend-margin-left};
  --jvm-legend-padding: #{$legend-padding};

  // Legend title
  --jvm-legend-title-padding-bottom: #{$legend-title-padding-bottom};
  --jvm-legend-title-margin-bottom: #{$legend-title-margin-bottom};

  // Legend ticks
  --jvm-legend-tick-margin-top: #{$legend-tick-margin-top};
  --jvm-legend-tick-sample-radius: #{$legend-tick-sample-radius};
  --jvm-legend-tick-sample-height: #{$legend-tick-sample-height};
  --jvm-legend-tick-sample-width: #{$legend-tick-sample-width};
  --jvm-legend-tick-text-font-size: #{$legend-tick-text-font-size};
  --jvm-legend-tick-text-margin-top: #{$legend-tick-text-margin-top};
}

// Global resets
image, text, .jvm-zoom-btn { user-select: none }

// jsVectorMap container
.jvm-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

// Tooltip
.jvm-tooltip {
  border-radius: $tooltip-radius;
  background-color: $tooltip-bg-color;
  font-family: $tooltip-font-family;
  font-size: $tooltip-font-size;
  box-shadow: $tooltip-shadow;
  padding: $tooltip-padding;
  white-space: nowrap;
  position: absolute;
  display: none;
  color: #FFF;
  &.active {
    display: block;
  }
}

// Zoom buttons
.jvm-zoom-btn {
  border-radius: var(--jvm-zoom-btns-radius);
  background-color: var(--jvm-zoom-btns-bg-color);
  padding: var(--jvm-zoom-btns-padding);
  box-sizing: border-box;
  position: absolute;
  line-height: 10px;
  cursor: pointer;
  color: #FFF;
  height: 15px;
  width: 15px;
  left: 10px;

  &.jvm-zoomout {
    top: 30px
  }

  &.jvm-zoomin {
    top: 10px
  }
}

// Series
.jvm-series-container {
  right: $series-container-right;
  position: absolute;
  &.jvm-series-h { bottom: 15px }
  &.jvm-series-v { top: 15px }
}

// Legends
.jvm-legend {
  background-color: var(--jvm-legend-background-color);
  border: 1px solid var(--jvm-border-color);
  margin-left: var(--jvm-legend-margin-left);
  border-radius: var(--jvm-legend-radius);
  padding: var(--jvm-legend-padding);
  box-shadow: var(--jvm-box-shadow);
}

.jvm-legend-title {
  line-height: 1;
  border-bottom: 1px solid var(--jvm-border-color);
  padding-bottom: var(--jvm-legend-title-padding-bottom);
  margin-bottom: var(--jvm-legend-title-margin-bottom);
  text-align: left;
}

.jvm-legend-tick {
  display: flex;
  min-width: 40px;
  &:not(:first-child) {
    margin-top: var(--jvm-legend-tick-margin-top);
  }
}

.jvm-legend-tick-sample {
  border-radius: var(--jvm-legend-tick-sample-radius);
  margin-right: .65rem;
  height: var(--jvm-legend-tick-sample-height);
  width: var(--jvm-legend-tick-sample-width);
}

.jvm-legend-tick-text {
  font-size: var(--jvm-legend-tick-text-font-size);
  text-align: center;
}

// Line animation
.jvm-line[animation="true"] {
  -webkit-animation: jvm-line-animation 10s linear forwards infinite;
  animation: jvm-line-animation 10s linear forwards infinite;

  @keyframes jvm-line-animation {
    from { stroke-dashoffset: 250; }
  }
}
